<h2 mat-dialog-title>Create post</h2>
<div mat-dialog-content>
    <form #myForm="ngForm">
        <mat-form-field>
            <mat-label>Author</mat-label>
            <input matInput [(ngModel)]="data.author" name="author">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="data.title" name="title">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Body</mat-label>
            <input matInput [(ngModel)]="data.body" name="body">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="myForm.value" cdkFocusInitial>Add</button>
</div>