<!-- <p class="text" >{{result}}</p> -->
<button mat-button (click)="openDialog()">Add post</button>
<div class="main-div" *ngFor="let post of postArray">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{post.title}} </mat-card-title>
      <mat-card-subtitle> {{post.author}} on {{post.datePost | date: 'EEEE, MMMM d, y, h:mm:ss a'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p> {{post.body}} </p>
    </mat-card-content>
  </mat-card>

</div>