.text {
    font-size: 50px;
    margin-top: 50px;
}

.mat-button{
  margin-left: 20px;
  margin-top: 20px;
  background-color: gray;
  color: white;
  &:hover{color: black;}
}

.example-card {
    margin-bottom: 15px;
    max-width: 400px;
    background-color:whitesmoke;
  }

.example-header-image {
    background-image: url('https://purepng.com/public/uploads/large/purepng.com-ninjashinobininjacovert-agentassassinationguerrilla-warfaresamuraiclip-art-1421526960629zucts.png');
    background-size: cover;
 }

 .main-div{
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
  }