<!-- <mat-toolbar color="primary">
  <a routerLink="/">Log Out</a>
  <a routerLink="/history">History</a>
  <a routerLink="/upload">Upload</a>
</mat-toolbar> -->

<table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="image name">
      <th mat-header-cell *matHeaderCellDef> Image name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Size Column -->
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef> Size  </th>
      <td mat-cell *matCellDef="let element"> {{element.size}} </td>
    </ng-container>
  
    <!-- Recognition Column -->
    <ng-container matColumnDef="recognition result">
      <th mat-header-cell *matHeaderCellDef> Recognition result </th>
      <td mat-cell *matCellDef="let element"> {{element.recognitionResult}} </td>
    </ng-container>
  
    <!-- Link Column -->
    <ng-container matColumnDef="image download link">
      <th mat-header-cell *matHeaderCellDef> Image download link </th>
      <td mat-cell *matCellDef="let element"><a [href]="element.link"> {{element.url}} </a></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
  
