.logoutPos{
    position: fixed;
    right: 10px;

}

// a:visited{
//     color:white
// }

.mat-toolbar {
    a {
      text-decoration: none;
      padding: 10px 30px;
      color:white;
      border-bottom: 3px solid #673ab7;
  
      &:hover {
        border-bottom: 3px solid white;
      }
    }
  }
    