<div class="container">
    <div class="login-form">
        <div class="element">
            <img src="assets/nin.png" alt="Avatar">
        </div>
        <div class="element">
            <form class="example-form"  [formGroup]="loginForm">
                <mat-icon matPrefix>email</mat-icon>
                <mat-form-field class="example-full-width">
                  <input type="text" matInput placeholder="Username" formControlName="username" required>
                </mat-form-field>
                <br>
                <mat-icon matPrefix>lock</mat-icon>
                <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Password" formControlName="password" required>
                  </mat-form-field>
            </form>
            <p>
                Form Status: {{ loginForm.status }}
              </p>
             <button mat-raised-button color="primary" class="btnLogin" type="submit" (click)="validate()" >Login</button> 

            <!-- <button mat-raised-button color="primary" class="btnLogin" type="submit" (click)="validate()" >Login</button> -->
        </div>
    </div>
    
</div>