.container{
    background-image: linear-gradient(purple, yellow);
    text-align: center;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.login-form{
    height: 50%;
    width: 70%;
    background: white;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    flex-direction: row;

    .element {
        flex-grow: 1; 
        flex-basis: 50%;
       
        img {
            border-radius: 50%;
            width: 70%;
            height: 70%;
        }
    }
}

input {
    margin-bottom: 20px;
}

:host {
    width: 100%;
    height: 100%;
}

mat-icon {
    margin-right: 2%;
}

.btnLogin {
    background-image: linear-gradient(purple, yellow);
}