<!-- <mat-toolbar color="primary">
    <a routerLink="/">Log Out</a>
    <a routerLink="/history">History</a>
    <a routerLink="/upload">Upload</a>
</mat-toolbar> -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
                <div class="group-gap">

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-danger btn-lg btn-block" (click)="fileInput.click()">Upload
                        Image</button>


                    <!-- Upload image -->
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                (change)="uploadFile($event)" />
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>