



.h1,
h1 {
  font-size: 25px;
  color: #4eabe6;
  font-weight: 300;
  margin: 0;
}

h5 {
  font-weight: 600;
}

.custom-wrapper {
  max-width: 460px;
  margin: 0 auto 150px;
}

.h2,
h2 {
  font-size: 1.45rem;
}

label {
  font-size: 15px;
  font-weight: 600;
  color: #222;
  margin-bottom: 6px;
}

.group-gap {
  margin-bottom: 40px;
  text-align: center;
}

.btn.focus,
.btn:focus,
.form-control:focus,
.custom-select:focus,
.custom-select:focus {
  box-shadow: none;
}

.form-control:focus,
.custom-select:focus {
  border: 1px solid #0c1cff;
}

.btn-success,
.btn-success:hover {
  color: #312bc6;
  border-color: #00fc79;
  background-color: #00fc79;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 13px 15px 15px;
  font-size: 16px;
  border-radius: 0;
  text-transform: uppercase;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 10px 16px 10px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 0;
}

.avatar-upload {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px auto 30px;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 19px;
  z-index: 1;
  top: 13px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit .custom-label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #3efc78;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit .upload-image {
  background: #3efc78;
}

.avatar-upload .avatar-edit .remove-image {
  background: #e91e63;
}

.avatar-upload .avatar-edit .custom-label:hover {
  opacity: 1;
}

.avatar-upload .avatar-edit .custom-label:after {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 8px;
  right: 0;
  left: 2px;
  width: 18px;
}

.avatar-upload .avatar-edit .upload-image:after {
  content: url("/assets/edit.svg");
}

.avatar-upload .avatar-edit .remove-image:after {
  content: url("/assets/close.svg");
  left: 0px !important;
}

.avatar-upload .avatar-preview {
  width: 70%;
  height: 500px;
  margin-top:40px;
  position: relative;
  border-radius: 0%;
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 0%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



.custom-select {
  height: auto;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  color: #222222;
  background-color: #fdfdfd;
  border: 1px solid #312bc6;
}


.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-control-label {
  cursor: pointer;
}

.error:focus,
.error {
  border-color: #e91e63;
  color: #e91e63;
}

.invalid-feedback {
  color: #e91e63;
}

.btn-danger,
body .btn-danger:hover {
  background-image: linear-gradient(purple, yellow);
  color: white;
}

.subjectList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subjectList li {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.invalid-feedback {
  display: block;
}



.custom-control {
  margin-bottom: 5px;
}

.custom-control label {
  font-weight: 400;
}

.mat-toolbar {
  margin-bottom:20px;

  a {
    text-decoration: none;
    padding: 10px 30px;
    color:white;
    border-bottom: 3px solid #673ab7;

    &:hover {
      border-bottom: 3px solid white;
    }
  }
}
